
<sly data-sly-test="${wcmmode.edit && !resource.listChildren}">
    <div class="cq-placeholder cq-marker-start" data-emptytext="Pathfield"></div>
</sly>

    <sly data-sly-use.model="com.adobe.core.models.HeaderImageModel"></sly>
    <sly data-sly-list.child="${model.imageDetails}">
        <div class="horizontal">
            <div>${child.filename}${child.imageheight}</div>
        <a href="${child.linkUrl}">
            <img src='/content/dam/pnb/${child.fileName}/jcr:content/renditions/cq5dam.thumbnail.319.319.png' height='${child.imageheight}' width="${child.imagewidth}px"/>
        </a>
        </div>
    </sly>

